<section class="todoapp">
    <header class="header">
        <form>
            <!-- click on enter to add a new task -->
            <input #task type="text" class="new-todo" placeholder="Ajouter une option" autocomplete="off" autofocus (keyup.enter)="addTask(task.value)" />
            <!-- input containing the label of the next new task -->
        </form>
    </header>
    <section class="main">
        <!--<input type="checkbox" id="toggle-all" class="toggle-all" (click)="toggleAll()">-->
        <!-- toggle (true/false) the complete boolean for all tasks -->
        <button class="delete" (click)="removeAllTask()"></button>
        <label for="toggle-all">Options valides</label>
        <ul class="todo-list">
            <li *ngFor="let task of tasks; let i = index" [class]="task.completed ? 'completed' : ''">
                <!-- List of Tasks -->
                <!-- If a task is completed apply on the li the class 'completed' -->
                <div class="view">
                    <!--<input id="task" type="checkbox" class="toggle" (click)="toggleTask(i)" />-->
                    <!-- checkbox to toggle the complete property a task (true/false) -->
                    <label for="task">{{task.label}}</label>
                    <button class="destroy" (click)="removeTask(i)"></button>
                    <!-- button to delete a task -->
                </div>
            </li>
        </ul>
    </section>
    <!--<footer class="footer">
        <span class="todo-count"><strong>{{count()}} remaining tasks</strong></span>
        <div>{{ count() | i18nPlural: {'=0': 'completed', '=1': 'remaining task.', 'other': '# remaining tasks.'} }}</div>
        <div>{{ count() }}</div>
    </footer>-->

</section>