<!-- filtre de recherche -->

<ul class="liste">
    <li class="elt">
        <div class="ng-autocomplete">
            <ng-autocomplete [data]="villes" [searchKeyword]="keyword" (selected)='selectEvent($event)' [(ngModel)]="lieux_depart" placeholder="lieux de depart" (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </li>

    <li class="elt">
        <div class="ng-autocomplete">
            <ng-autocomplete [data]="villes" [searchKeyword]="keyword" (selected)='selectEventA($event)' [(ngModel)]="lieux_arrivee" placeholder="lieux d'arrivee" (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </li>

    <li class="elt">
        <form class="form-inline">
            <div class="form-group hidden">
                <div class="input-group">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
							{{ date.day }}
						</span>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input #dpFromDate class="form-control ajuste" placeholder="date de depart" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <span class="searchclear fa fa-times" (click)="clear()"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">📅</button>
                    </div>
                </div>
            </div>
        </form>
    </li>

    <li class="elt">
        <form class="form-inline">
            <div class="form-group hidden">
                <div class="input-group">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
							{{ date.day }}
						</span>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input #dpToDate class="form-control ajuste" placeholder="date d'arrivee" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                    <span class="searchclear fa fa-times" (click)="clear1()"></span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">📅</button>
                    </div>
                </div>
            </div>
        </form>
    </li>
</ul>

<ul class="liste">

    <li class="elt">
        <select id="immersive_dropdown" data-placeholder="Mode de transport...">
			<option *ngFor="let c of Transports; let i=index; trackBy:tracbByFn" [value]="c.value" [innerHTML]="c.description"></option>
		</select>
    </li>

    <li class="elt">
        <select id="immersive_dropdown1" data-placeholder="Categorie">
			<option *ngFor="let c of Categories; let i=index; trackBy:tracbByFn" [value]="c.value" [innerHTML]="c.description"></option>
        </select>
    </li>

    <li class="elt">
        <form class="range-field">
            <div class="form-group prix_kg">
                <label for="formControlRange">Prix du Kg(&euro;)</label>
                <span class="price">
					<span id="myValue" [innerHTML]="prix1.value">&euro;</span>
                </span>
                <input id="formControlRange" type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" #prix1/>
            </div>
        </form>
    </li>

    <li *ngIf="false" class="elt">
        <input type="text" name="" value="" placeholder="annonceur...">
    </li>
</ul>
<br>
<button type="button" name="button" class="btn btn-info waves-effect ml-auto btn-rounded my-3" (click)="search()">Rechercher</button>