<!-- <ngx-spinner
template="
 <div class='my-overlay' >

 <div class='spinner-grow text-primary' role='status'>

 </div>
 <div class='spinner-grow text-secondary' role='status'>

 </div>
 <div class='spinner-grow text-success' role='status'>

 </div>

 </div>" >

</ngx-spinner> ball-clip-rotate-->
<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#0f8aec" type = "ball-clip-rotate-pulse" [fullScreen] = "true"
  template=""
  >
  <p style="color: white; margin-bottom:8em; font-weight:bolder" >Travel Post..</p>

</ngx-spinner>
