/* CARD */

.cardSearch {
    border: 1px solid rgb(153, 200, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px;
    background: rgba(153, 200, 250, 0.1);
    transition: 0.99s;
}

.card-header {
    /* background: linear-gradient(40deg,#45cafc,#303f9f); */
}

.card-block {
    background: linear-gradient(40deg, #d9dbe8, #ffffff);
}

.card {
    /* border: 1px solid rgb(153, 200, 250); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px; */
    background: transparent;
    transition: 0.99s;
}

.card-header-text {
    color: white;
}

.cardButton {
    margin-top: 1.4em;
    border: none;
}


/* fin CARD */

.departDate {
    height: 3.8em;
    padding: 1em;
    background: #ffff;
}

.interval {
    height: 2em;
}

.test {
    margin-bottom: 2.8em;
}

#fl {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    outline: 0;
    border: none;
}


/* btn */

.btn-info.disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #42C2FF;
    border-color: #42C2FF;
}

.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #42C2FF;
    /* border-color: #42C2FF; */
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.focus,
.btn-info:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.btn-rounded.my-3 {
    border-radius: 20px;
}

.btn-info {
    background-color: #42C2FF;
    border-color: #42C2FF;
}

.btn-outline-info {
    color: #42C2FF;
    border-color: #42C2FF;
}

.btn-outline {
    color: #42C2FF;
}

.btn-info:hover,
.btn-outline-info:hover {
    background-color: #42C2FF;
    border-color: #42C2FF;
    color: #fff;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-white {
    color: #0a5cd6;
    background-color: #fff !important;
}


/* fin btn */