.sliderText {
    margin-top: -2em;
    height: 3em;
}

.carousel-inner {
    width: 12em;
}

.depart {
    color: aqua;
}

.arrivee {
    color: crimson;
}


/* Banner */

#banner {
    padding: 1em 0 9em 0;
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#banner:before {
    content: '';
    background: rgba(75, 75, 93, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#banner .inner {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    /* z-index: 10005; */
    padding-top: 6em;
}

#banner .inner a {
    color: inherit;
}

#banner .inner a:hover {
    color: #42C2FF;
}

#banner h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

#banner h3 {
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.5em;
}

#banner .rowtext {
    font-weight: 400;
    color: #fff;
    margin: 0 0 2em;
    font-size: 1.5em;
    display: inline-flex;
    width: 12em;
}

#banner .icon {
    color: #6cc091;
    font-size: 2em;
}

#banner p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 1.75em;
}

#banner .flex {
    -ms-flex-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 4em auto;
}

#banner .flex li.annonces {
    display: block;
    padding: 0.5em;
}

#banner .flex div {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 6em;
}

#banner .flex div:last-child {
    border: none;
    padding-right: 0;
}

#banner .flex div:first-child {
    padding-left: 0;
}

#banner .flex div p {
    margin: 0;
}

#banner .inner .search_list {
    width: -webkit-fill-available;
}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1440px) {}

@media only screen and (max-width: 768px) {
    #banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1680px) {
    #banner .flex div {
        padding: 0 6em;
    }
}

@media screen and (max-width: 1280px) {
    #banner {
        padding: 1em 0 6em 0;
    }
    #banner .inner {
        padding-top: 6em;
    }
    #banner h1 {
        font-size: 3em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex div {
        padding: 0 3em;
    }
}

@media screen and (max-width: 1024px) {
    #banner .inner .search_list {
        flex-direction: column;
    }
}

@media screen and (max-width: 980px) {
    #banner {
        background-attachment: scroll;
        padding: 5em 0 4em 0;
    }
    #banner .inner {
        padding-top: 4em;
    }
    #banner h1 {
        font-size: 2.5em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex div {
        font-size: .85em;
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 4em 0 3em 0;
    }
    #banner .inner {
        padding-top: 3em;
    }
    #banner h1 {
        font-size: 2em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 2em auto;
    }
    #banner .flex div {
        font-size: .85em;
        padding: 0;
        border: none;
        margin-bottom: 1em;
    }
    #banner .rowtext {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 2em auto;
    }
    #banner .rowtext div {
        font-size: .85em;
        padding: 0;
        border: none;
        margin-bottom: 1em;
    }
    .arrivee {
        width: fit-content;
    }
    .sliderText {
        padding-left: 0px;
    }
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .inner {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    #banner h1 {
        font-size: 1.5em;
    }
    .inner {
        max-width: 90%;
    }
    .sliderText {
        display: none;
    }
    .flex.flex-2 br {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: 1.5em;
    }
    .sliderText {
        display: none;
    }
    #banner .inner .search_list {
        /* width: fit-content; */
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 35px;
    }
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: 1.5em;
    }
    .sliderText {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 0px;
    }
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: 1.5em;
    }
    .sliderText {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 0px;
    }
}

@media screen and (max-width: 980px) {
    .flex.flex-2 article {
        width: 100%;
        margin-bottom: 3em;
    }
    .flex.flex-2 article:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 980px) {}