<main id="banner" class="sliderText">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade rowtext" data-ride="carousel" data-interval="1000">
        <strong class="from">De</strong>
        <ol class="carousel-inner depart">
            <li class="carousel-item active">
                <span>Douala</span>
            </li>
            <li class="carousel-item">
                <span>Bologne</span>
            </li>
            <li class="carousel-item">
                <span>Yaounde</span>
            </li>
            <li class="carousel-item">
                <span>Milan</span>
            </li>
        </ol>
    </div>
    <div id="carouselExampleSlidesOnly1" class="carousel slide carousel-fade rowtext" data-ride="carousel" data-interval="1500">
        <strong class="from">À</strong>
        <ol class="carousel-inner arrivee">
            <li class="carousel-item active">
                <span>Milan</span>
            </li>
            <li class="carousel-item">
                <span>Yaoundé</span>
            </li>
            <li class="carousel-item">
                <span>Bologne</span>
            </li>
            <li class="carousel-item">
                <span>Douala</span>
            </li>
        </ol>
    </div>
</main>