<!-- Module home -->
<main class="homePage">
    <!-- Banner -->
    <section *ngIf="loggedUser" id="banner" class="">
        <div class="inner">
            <app-carousel></app-carousel>
            <!-- filtre de recherche -->
            <button id="fl" class="btn buttonStyle buttonGeneral" type="button" data-toggle="collapse" data-target="#filtre" aria-expanded="false" aria-controls="filtre" (click)="toggle(filter)" #filter>
				    Affiner la recherche
			</button>
            <div toastContainer></div>
            <div class="filter collapse" id="filtre">
                <app-filter-products (filters)="filterAnnonces($event)"></app-filter-products>
            </div>
            <!-- fin filtre de recherche -->
            <app-typed-product [announce]="announceToClasse"></app-typed-product>
        </div>
    </section>
</main>