/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */


/*
html{ font-size: 100%; height: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


 body{ font-size: 16px; font-family: "roboto", sans-serif, serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word;
	color: #333; }



 h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: "roboto", sans-serif, cursive; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a{ display: inline-block; text-decoration: none; line-height: 1;
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out;
  cursor: pointer;}

a:focus, a:active, a:hover,
a b.light-color:hover{ text-decoration: none; color: #4099ff; }

b{ font-weight: 600; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; cursor: pointer; } */


/* fin 1 */


/* .task-detail-bas{
  font-family: Andale Mono;
  color: white;
} */


/* .task-detail-bas h4{
  padding-left: 2em;
} */


/* .output {
    width: 4em;
    margin-left: 0.3em
} */


/* search */

.div_input1 {
    width: 15.4em;
}

.ng-select .ng-select-container {
    height: 3.5em !important;
}

#fl {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    outline: 0;
    border: none;
}

.filter {
    /* margin-left: 10em; */
    /* margin-bottom: 3em; */
    margin-top: 1em
}

.input-container {
    height: 3.8em !important;
}

.searchclear {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.space {
    margin: 0em 3em;
}

.div_input {
    width: 25%;
    display: inline-block;
    margin-left: 2em;
}

.div_input_date {
    width: 54%;
    display: inline-block;
    /* margin-left: 2em; */
}

input.ajuste {
    height: 3.4em;
}

.search {
    width: 2em;
    margin-top: 1em;
    cursor: pointer;
}

.search_list {
    display: flex;
    position: relative;
}

#immersive_dropdown1 div {
    width: 15em;
}

.price {
    position: absolute;
    color: #4199fd;
    min-width: 120px;
}


/* calendar */

.form-inline {
    display: inline-flex;
}

.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.ng-autocomplete {
    width: 15.4em;
}

.lieux_depart {
    margin-right: 17px;
}

.prix_kg {
    background-color: white;
    width: 15.5em;
}

.sliderText {
    padding-left: 230px;
}

.logo {
    width: 150px;
}

.carousel-inner {
    width: 50%;
}

.depart {
    color: aqua;
}

.arrivee {
    color: crimson;
}

.fa-user-circle-o {
    color: #3abcfd;
}

#carouselExampleSlidesOnly1 {
    width: 50%;
}

.customtoggle {
    background: #357991;
}

.nameuser {
    color: black;
    cursor: pointer;
}

.btn-info.disabled,
.btn-info:disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}

.btn-rounded.my-3 {
    border-radius: 20px;
}

.btn-info {
    background-color: #4099ff;
    border-color: #4099ff;
}

.btn-outline-info {
    color: #4099ff;
}

.btn-outline {
    color: #4099ff;
}

.btn-info:hover,
.btn-outline-info:hover {
    background-color: #73b4ff;
    border-color: #73b4ff;
    color: #fff;
}

.z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3 !important;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-white {
    color: #0a5cd6;
    background-color: #fff !important;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.mr-md-3,
.mx-md-3 {
    margin-right: 1rem !important;
}


/* Banner */

#banner {
    padding: 1em 0 9em 0;
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#banner:before {
    content: '';
    background: rgba(75, 75, 93, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#banner .inner {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    /* z-index: 10005; */
    padding-top: 6em;
}

#banner .inner a {
    color: inherit;
}

#banner .inner a:hover {
    color: #007bff;
}

#banner h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

#banner h3 {
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.5em;
}

#banner .rowtext {
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.5em;
    display: flex;
    margin-bottom: 2em;
}

#banner p {
    font-weight: 200;
    color: #000;
    margin: 0;
    font-size: 1em;
    margin-bottom: 1.75em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1024px) {
    .search {
        width: 2em;
        margin-top: 2em;
        margin-left: 3em;
        cursor: pointer;
    }
    .div_input_date {
        width: 66%;
        display: inline-block;
        margin-left: 0em;
    }
    .prix_kg {
        margin-left: 0em;
    }
}

@media screen and (max-width: 2560px) {
    .search_list_1 {
        flex-direction: row;
        margin-left: 3em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: -2em;
    }
    .search {
        width: 2em;
        margin-top: 0em;
        margin-left: 3em;
        cursor: pointer;
    }
    .prix_kg {
        margin-left: 1em;
    }
}

@media screen and (max-width: 1440px) {
    .search_list_1 {
        flex-direction: row;
        margin-left: 3em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search {
        width: 2em;
        margin-top: 0em;
        margin-left: 3em;
        cursor: pointer;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: -2em;
    }
    .div_input_lieux {
        /* width: 80%; */
        display: inline-block;
        /* margin: 1em 0;
        margin-right: 1em; */
    }
    .pos {
        width: 20em;
    }
}

@media screen and (max-width: 1280px) {
    #banner {
        padding: 1em 0 6em 0;
    }
    #banner .inner {
        padding-top: 6em;
    }
    #banner h1 {
        font-size: 3em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex div {
        padding: 0 0em;
    }
}

@media screen and (max-width: 980px) {
    #banner {
        background-attachment: scroll;
        padding: 5em 0 4em 0;
    }
    #banner .inner {
        padding-top: 4em;
    }
    #banner h1 {
        font-size: 2.5em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex div {
        font-size: .85em;
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 4em 0 0em 0;
    }
    #banner .inner {
        padding-top: 3em;
    }
    #banner h1 {
        font-size: 2em;
    }
    #banner h3 {
        font-size: 1.25em;
    }
    #banner .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 2em auto;
    }
    #banner .flex div {
        font-size: .85em;
        padding: 0;
        border: none;
        margin-bottom: 1em;
    }
    #banner .rowtext {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 2em auto;
    }
    #banner .rowtext div {
        font-size: .85em;
        padding: 0;
        border: none;
        margin-bottom: 1em;
    }
    .arrivee {
        width: fit-content;
    }
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .inner {
        max-width: 90%;
    }
    .space {
        margin: 2em 0em;
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 54%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0;
    margin-right: 1em; */
    }
}

@media screen and (max-width: 768px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 0px;
    }
    .input-group {
        margin: 0.5em 0em;
    }
    .filter {
        margin-left: 0em !important;
    }
    .search {
        width: 2em;
        margin-top: 2em;
        margin-left: 3em;
        cursor: pointer;
    }
    .space {
        margin: 2em 0em;
    }
    #banner .inner .search_list {
        /* width: fit-content; */
        flex-direction: column;
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 73%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0;
    margin-right: 1em; */
    }
}

@media screen and (max-width: 480px) {
    #banner h1 {
        font-size: 1.5em;
    }
    .flex.flex-2 br {
        display: none;
    }
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 70px;
    }
    .space {
        margin: 2em 0em;
    }
    #banner .inner .search_list {
        flex-direction: column;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 100%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0; */
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
}

@media screen and (max-width: 425px) {
    .space {
        margin: 2em 0em;
    }
    .filter {
        margin-left: 0em;
    }
    .search {
        width: 2em;
        margin-top: 2em;
        margin-left: 3em;
        cursor: pointer;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 100%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0; */
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
    .cat {
        width: 27em;
    }
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: -1.5em;
    }
    .col-md-6 {
        width: 11em;
    }
    li.annonces {
        width: 19em;
    }
}

@media screen and (max-width: 375px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 35px;
    }
    .space {
        margin: 2em 0em;
    }
    .filter {
        margin-left: 0em;
    }
    .search {
        width: 2em;
        margin-top: 2em;
        margin-left: 3em;
        cursor: pointer;
    }
    .cat {
        width: 24em;
    }
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: -1.5em;
    }
    #banner .inner .search_list {
        /* width: fit-content; */
        flex-direction: column;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 100%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0; */
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
    .col-md-6 {
        width: 11em;
    }
    li.annonces {
        width: 18em;
    }
}

@media screen and (max-width: 320px) {
    .inner {
        max-width: 90%;
    }
    .sliderText {
        padding-left: 0px;
    }
    .space {
        margin: 2em 0em;
    }
    .filter {
        margin-left: 0em;
    }
    .search {
        width: 2em;
        margin-top: 2em;
        margin-left: 3em;
        cursor: pointer;
    }
    .cat {
        width: 22em;
    }
    .from {
        width: 2em;
    }
    .depart {
        position: absolute;
        padding-left: 3em;
    }
    .arrivee {
        top: -1.5em;
    }
    #banner .inner .search_list {
        /* width: fit-content; */
        flex-direction: column;
    }
    .price {
        min-width: 60px;
    }
    .prix_kg {
        margin-left: 0em;
    }
    .div_input {
        width: 50%;
        display: flex;
        margin: 1em 0;
        font-size: .85em;
        padding: 0;
    }
    .div_input_date {
        width: 100%;
        display: inline-block;
        margin-left: 0em;
    }
    .div_input_lieux {
        width: 80%;
        display: inline-block;
        /* margin: 1em 0; */
    }
    .search_list_1 {
        flex-direction: column;
        margin-right: 1em;
        position: relative;
        display: flex;
        padding-left: 10px;
    }
    .search_list {
        position: relative;
        display: flex;
        margin-left: 0em;
    }
    .col-md-6 {
        width: 11em;
    }
    li.annonces {
        width: 18em;
    }
}


/* FOOTER */

.page-footer a {
    color: inherit;
}

.page-footer a:hover {
    color: #007bff;
}


/* MODAL */