/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */


/* 
html{ font-size: 100%; height: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


 body{ font-size: 16px; font-family: "roboto", sans-serif, serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word;
	color: #333; }



 h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: "roboto", sans-serif, cursive; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a{ display: inline-block; text-decoration: none; line-height: 1;
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out;
  cursor: pointer;}

a:focus, a:active, a:hover,
a b.light-color:hover{ text-decoration: none; color: #42C2FF; }

b{ font-weight: 600; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; cursor: pointer; } */


/* fin 1 */

.bgcontainer {
    /* background: url(../../assets/images/background.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
}

.sliderText {
    padding-left: 230px;
}

.logo {
    width: 150px;
}

.carousel-inner {
    width: 50%;
}

.depart {
    color: aqua;
}

.arrivee {
    color: crimson;
}

.fa-user-circle-o {
    color: #42C2FF;
}

#carouselExampleSlidesOnly1 {
    width: 50%;
}

.customtoggle {
    background: #357991;
}

.nameuser {
    color: black;
    cursor: pointer;
}

.btn-info.disabled,
.btn-info:disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}

.messages {
    color: red;
}

.marque {
    background-color: #42C2FF;
}

.btn-rounded.my-3 {
    border-radius: 20px;
}

.inscription {
    background-color: #adb5bd;
    color: #f8f9fa;
    border: 1px solid #adb5bd;
    margin-left: 15px;
}

.btn-info {
    background-color: #42C2FF;
    border-color: #42C2FF;
}

.btn-outline-info {
    color: #42C2FF;
}

.btn-outline {
    color: #42C2FF;
}

.btn-info:hover,
.btn-outline-info:hover {
    background-color: #42C2FF;
    border-color: #42C2FF;
    color: #fff;
}

.z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.modal-dialog .form-elegant .btn .fab {
    color: #42C2FF !important;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-white {
    color: #0a5cd6;
    background-color: #fff !important;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.mr-md-3,
.mx-md-3 {
    margin-right: 1rem !important;
}

.fa-google {
    color: red;
}


/* nofound */

.st0 {
    fill: #42C2FF
}

.stmy {
    fill: #fff
}

.stmy1 {
    fill: rgba(102, 224, 184, 0.77);
}

.stmy2 {
    fill: rgba(150, 144, 144, 0.6)
}

.st2 {
    fill: #5d89af
}

.st3 {
    fill: #709abf
}

.st4,
.st6 {
    fill: #fff;
    stroke: #b3dcdf;
    stroke-miterlimit: 10
}

.st6 {
    stroke: #5d89af;
    stroke-width: 2
}

.st7,
.st8,
.st9 {
    stroke: #709abf;
    stroke-miterlimit: 10
}

.st7 {
    stroke-width: 5;
    stroke-linecap: round;
    fill: none
}

.st8,
.st9 {
    fill: #fff
}

.st9 {
    fill: none
}

.st10 {}

#cloud1 {
    animation: cloud003 15s linear infinite;
}

#cloud2 {
    animation: cloud002 25s linear infinite;
}

#cloud3 {
    animation: cloud003 20s linear infinite;
}

#cloud4 {
    animation: float 4s linear infinite;
}

#cloud5 {
    animation: float 8s linear infinite;
}

#cloud7 {
    animation: float 5s linear infinite;
}

#tracks {
    animation: slide 650ms linear infinite;
}

#bumps {
    animation: land 10000ms linear infinite;
}

@keyframes jig {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0px);
    }
}

#car-layers {
    animation: jig 0.35s linear infinite;
}

@keyframes land {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1000px);
    }
}

@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100px);
    }
}


/* @keyframes cloudFloat {
  0% { transform: translateX(0) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
} */

@keyframes cloud001 {
    0% {
        transform: translateX(-1000px) translateY(3px);
    }
    100% {
        transform: translateX(1000px) translateY(0);
    }
}

@keyframes cloud002 {
    0% {
        transform: translateX(-1000px) translateY(3px);
    }
    100% {
        transform: translateX(1000px) translateY(0);
    }
}

@keyframes cloud003 {
    0% {
        transform: translateX(-1000px) translateY(3px);
    }
    100% {
        transform: translateX(1000px) translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px) translateX(0);
    }
    50% {
        transform: translateY(8px) translateX(5px);
    }
    100% {
        transform: translateY(0px) translateX(0);
    }
}

#bracefront,
#braceback {
    animation: braces 1s linear infinite;
}

@keyframes braces {
    0% {
        transform: translateX(-2px);
    }
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(-2px);
    }
}


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}


/* FOOTER */

.page-footer a {
    color: inherit;
}

.page-footer a:hover {
    color: #42C2FF;
}


/* MODAL */