.bounce span {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: bounce 1.5s ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes bounce {
    0% {
        transform: translateX(-60px);
    }
    50% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(-60px);
    }
}

.zoneRes {
    width: max-content;
}

.catBadge {
    /* font-size: 1em; */
    font-weight: 300;
    font-size: 0.9em;
    border-radius: 1em;
    border: 1px solid;
    margin: 0.1em 0.1em;
}

.catBadge span.closeBadge {
    background: #42c2fe!important;
    border-radius: 6px;
    width: 1.1em;
    height: 1.1em;
}

.reserve {
    border: 1px solid;
    width: min-content;
    border-radius: 1em;
}

.reservations {
    transform: rotate(5deg);
    margin: 0em 1em;
}

.listRes {
    /* overflow-y: scroll; */
    height: 18em;
    padding-top: 1em
}

.contain {
    padding: 2em 2em;
}


/* .containNote {
    
} */

.submit {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    outline: 0;
    border: none;
    color: white;
    width: 19em;
    border-radius: 2em;
    /* animation: example 3s infinite; */
}

.buttonFollow {
    width: inherit;
    position: relative;
    /* right: 2em; */
    border: 1px solid #99c8fa;
    box-shadow: 0 9px 9px 9px rgb(0 0 0 / 10%);
    background: rgba(153, 200, 250, .1);
    transition: .99s;
}

.crop {
    overflow: hidden;
}

.submit span {
    font-weight: bolder;
    /* font-size: 2em; */
}

.annonceMessage {
    overflow: auto;
    height: auto;
}

.categorys {
    margin-bottom: 1em;
}

.categorys>label {
    position: relative;
    right: 0.6em;
}

.categorys>div {
    position: relative;
    left: 1em;
}

.kilox>label {
    position: relative;
    right: 0.6em;
}

.kilox>div {
    position: relative;
    left: 1em;
}

@keyframes example {
    0% {
        background-color: #45cafc;
    }
    25% {
        background-color: #303f9f;
    }
    50% {
        background-color: #45cafc;
    }
    75% {
        background-color: #303f9f;
    }
    100% {
        background-color: #329f30;
    }
}

.addon-btn {
    color: white;
}

.displays {
    display: flex;
    font-weight: bolder;
    margin: 1em 0em;
    overflow: hidden;
}

.prices {
    margin: 0em 2.5em;
    line-height: 1em;
    font-weight: bolder;
}

.price_classic {
    background-color: #b1703a;
    color: white;
}

.price_fast {
    background-color: #c0c0c0;
}

.price_ultra {
    background-color: #efd484;
}

.detail {
    border: none;
}

.posi {
    padding: 0em;
    text-align: center;
}

.noPadding {
    padding: 0em 0em;
}

.list-group-item {
    padding: 0.3rem 1.25rem;
}

.valide,
.refus {
    width: 6em;
}

.valide1,
.refus1 {
    width: 16em;
}

.card-header,
.card-footer {
    text-align: center;
}


/*-------------------------------------------------------------------------------------------------------------------*/


/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section {
    padding-top: 200px;
    position: relative;
    background-size: contain;
    z-index: 1;
    background-image: url(/assets/images/background_signin.jpg);
}

.intro-section:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
}

.intro-section:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -1;
    background: #fff;
    width: 0px;
}

.intro {
    padding: 0 20px;
    margin-top: 100px;
    text-align: center;
    background: #fff;
    margin-bottom: 1em;
}

.intro .profile-img {
    height: 10em;
    width: 10em;
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    /* margin-bottom: -70px;   */
}

.profile-img {
    box-shadow: 9px -1px 12px #42C2FF;
}

.information {
    /* font-size: medium; */
    color: #42C2FF;
}

.addReview {
    background: transparent;
}

.perso {
    display: grid;
}

.perso1 {
    line-height: 1em;
}

.perso1 h4 {
    line-height: 2em;
}

.centre {
    display: block;
}

.voteList {
    text-align: center;
}

.voteList li {
    margin: 1em;
}

.voteList button {
    width: 3em;
    height: 3em;
    border-radius: 2em;
    outline: 0;
}

.name {
    margin-top: -5em;
    box-shadow: 0 9px 9px 9px rgb(0 0 0 / 10%);
    background: #42C2FF;
    transition: .99s;
    border-radius: 0.5em;
}


/* INTRO profile */

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.waves-effect:disabled {
    cursor: not-allowed;
}

.btn-info.disabled,
.btn-info:disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}

.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #42C2FF;
    /* border-color: #42C2FF; */
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.btn-rounded.my-3 {
    border-radius: 20px;
}

.focus,
.btn-info:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.btn-info:hover,
.btn-outline-info:hover {
    background-color: #42C2FF;
    border-color: #42C2FF;
    color: #fff;
}

.btn-info {
    background-color: #42C2FF;
    border-color: #42C2FF;
}

.ng-autocomplete {
    width: 21em;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #42C2FF;
    border-color: #42C2FF;
}

.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem #42C2FF;
}

.btn-outline-info:hover {
    background-color: #42C2FF;
    border-color: #42C2FF;
    color: #fff;
}

.btn-outline-info {
    color: #42C2FF;
}


/* buttons action */

.action {
    margin: 0em;
}


/* .action button {
    
} */

.action button:disabled {
    cursor: not-allowed;
}

.error {
    color: red;
}

.review {
    width: 1em;
    cursor: pointer;
    color: #42C2FF;
}

.review:disabled {
    cursor: not-allowed;
}

.logo {
    width: 150px;
}

.customtoggle {
    background: #357991;
}

.img-fluid {
    height: 32em;
}

.marque {
    background-color: #42C2FF;
}

.top {
    margin-top: 3em;
}

.commentaire {
    display: block;
}

.comment-box {
    width: 25em;
    height: 2em;
    border-radius: 7em;
    border: none;
    background-color: #797d8270;
    border-color: #797d8270;
    margin-left: 2em;
    padding-left: 1em;
}

.comment-box-upd {
    height: 4em;
    border-radius: 7em;
    border: 1px solid;
    background-color: white;
}

.comment-box:hover,
.comment-box:focus,
.comment-box:active {
    border: none;
    border-color: #797d8270;
}

.comment-box-upd:hover,
.comment-box-upd:focus,
.comment-box-upd:active {
    border: 1px solid;
    border-color: #797d8270;
}

#navbarSupportedContent-555 {
    background-color: rgba(58, 188, 252, 0);
}

.fa-user-circle-o {
    color: #fff;
}


/* FOOTER */

.page-footer a {
    color: inherit;
}

.page-footer a:hover {
    color: #42C2FF;
}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1440px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 22em;
    }
}

@media screen and (max-width: 1024px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 20em;
    }
}

@media screen and (max-width: 768px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 14em;
    }
}

@media screen and (max-width: 480px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 10em;
    }
}

@media screen and (max-width: 425px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 10em;
    }
}

@media screen and (max-width: 375px) {
    .review {
        margin-left: 1em;
    }
    .comment-box {
        width: 10em;
    }
}

@media screen and (max-width: 320px) {
    .review {
        width: 1em;
    }
    .comment-box {
        width: 10em;
    }
}